<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/global/global.css">
    <link rel="stylesheet" href="../../static/css/home/home.css">
    <title>Loja - Veiculos</title>
</head>
<body>
    
    <div class="container">
        <div class="topo">
            <button class="button_topo">Pesquisar</button>
            <button class="adicionar_carro">&#43;</button>
        </div>
        <div class="marcas">
            <div id = "Honda" onclick="global.paginaInicialPesquisa(this)" class="marca"><img style="width: 50%; height: 50%;" src="../../static/icones/honda.png" alt=""></div>
            <div id = "Toyota" onclick="global.paginaInicialPesquisa(this)" class="marca"><img style="width: 100%; height: 100%;" src="../../static/icones/toyota.png" alt=""></div>
            <div id = "Volkswagen" onclick="global.paginaInicialPesquisa(this)" class="marca"><img style="width: 90%; height: 60%;" src="../../static/icones/volkswagem.png" alt=""></div>
            <div id = "Bmw" onclick="global.paginaInicialPesquisa(this)" class="marca"><img style="width: 90%; height: 60%;" src="../../static/icones/bmw.png" alt=""></div>
            <div id = "Ford" onclick="global.paginaInicialPesquisa(this)" class="marca"><img style="width: 70%; height: 70%;" src="../../static/icones/ford.png" alt=""></div>
        </div>
        <div class="container-carros">
       
        </div>
    </div>

    <script src="../../static/js/global/global.js"></script>
    <script src="../../static/js/home/home.js"></script>

</body>
</html>